h1,h2,h3,h4,h5,p{
  margin: 0;
}
img{
  vertical-align: middle;
}
.page-link{
  span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 24px;
  }
}

// *{
//   outline: 1px solid #000;
// }