.bg{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &-logo{
    a{
      @include hidden-text;
      display: block;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/logo-ANSWER.svg);
      height: 40px;
      width: 151px;
    }
  }
}


