//高度
.vh-100{
  height: 100vh;
}
//垂直置中
.vertical-center{
  @include vertical-center;
}
//去掉after
.after-none::after{
  display: none;
}
//inline code
.text-inline-code{
  background-color: $gray-100;
  color: $success;
  padding: 4px;
}
//轉270
.rotate-270{
  transform: rotate(-90deg);
}
